body{
    /*background-image: url("../img/background.jpg");
    background-repeat: repeat-x;
    */
    
    font-family: 'Poppins', sans-serif;    
    
  }

  /* Links */

a {
  transition: color .2s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
}

main {
  padding-top: 100px;
}

.contenido {
  padding-top: 100px;
}
.botones {
  /*background-color: aqua;*/
  padding-top: 50px;
}
.imagenes_boletos {
   /*background-color: blueviolet;*/
   padding-top: 50px;
}

.resultado {
  padding-top: 100px;
}

.resultado input {
  text-align: center;
  background-color: blue;
  color: white;
}

/*===========================
  Menu de Navegacion
============================ */
/* Responsive navbar  */
.nav {
  display: flex;
  /*justify-content: flex-end;
  align-items: center;
  */
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
  background: var(--main-red);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 0px;
  z-index: 10;
  }
  
  .nav-list {
  display: flex;
  margin: 0 2rem;
  }
  
  .nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
  }
  
  ul {
  list-style: none;
  }
  /* Dropdown */

.dropdown-menu {
  min-width: 180px;
}
.dropdown-menu>li>a {
  display: block;
  padding: 13px 10px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  border-radius: 0px;
  transition: all .2s ease-in-out;
}

/*footer*/

footer{
  padding-top: 100px;
  position: fixed;
  text-align: center;
}